<div class="top-container">

  <h1 class="site-title">全国温泉紹介サイト</h1>

  <%= link_to "ログインはこちら", new_user_session_path, class: "login-btn" %>

  <p class="top-description">
    ここは、まだあまり知られていない温泉や、<br>
    本当におすすめしたい温泉をみんなで共有するためのサービスです。<br><br>

    観光地化されすぎていない静かな温泉、地元の人だけが知っている秘湯、<br>
    もう一度行きたくなる思い出の温泉を紹介します。<br><br>

    あなたの「お気に入り」を投稿して、<br>
    まだ知らない温泉と出会ってみませんか？
  </p>

  <div class="image-grid">
    <%= image_tag "onsen1.png", class: "grid-img" %>
    <%= image_tag "onsen2.png", class: "grid-img" %>
    <%= image_tag "onsen3.png", class: "grid-img" %>
    <%= image_tag "onsen4.png", class: "grid-img" %>
    <%= image_tag "onsen5.png", class: "grid-img" %>
    <%= image_tag "onsen6.png", class: "grid-img" %>
  </div>

</div>




