<div class="top-container">

  <h1 class="site-title">ええ湯めぐり案内所</h1>
  <p class="subtitle">一覧</p>

  <div class="image-grid grid-3x5">

    <% @tweets.each do |t| %>
      <div class="grid-item">

        <% if t.image.present? %>
          <%= image_tag t.image.url, class: "grid-img" %>
        <% else %>
          <%= image_tag "arima.png", class: "grid-img" %>
        <% end %>

        <!-- ② 名前（ここだけ詳細ページへのリンク） -->
        <p class="onsen-name">
          <%= link_to t.hot_springs, tweet_path(t) %>
        </p>

      </div>
    <% end %>

  </div>

  <h2 class="ranking-title">♨人気温泉ランキング♨</h2>

<% @rank_tweets.each_with_index do |t, i| %>
  <div class="ranking-item">
    <span class="rank-number"><%= i + 1 %>位</span>

    <%= link_to t.hot_springs, tweet_path(t), class: "ranking-name" %>

    <span class="like-count">
      <%= t.liked_users.count %>
    </span>
  </div>
<% end %>


</div>




